* {
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	background: #ffffff;
	font-family: Roboto;
	margin: 0 auto;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px; 
}

a {
	color: #A38860;
	text-decoration: none;
}

ul {
	list-style: none;
}

.clearfix-padding {
	clear: both;
	margin-top: 30%;
}

header {
	background: #ffffff;
	width: 100%;
	height: 86px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0.90;
}

#logo {
	margin: 70px;
	margin-top: 13px;
	padding-left: 30px;
	float: left;
	width: 200px;
	height: 60px;
	background: url(../img/logo.png) no-repeat center;
}


/*--- Start Nav ---*/
.active {
    color: #65350F;
}

nav {
	float: right;
	padding: 20px 30px 20px 0;
}

ul {
	list-style: none;
}

nav ul li {
	display: inline-block;
	float: left;
	padding: 10px;
}

nav a {
	font-size: 130%;
	color: #A38860;
	font-weight: 300;
}

nav a:hover {
	color: #65350F;
}
/*--- End Nav ---*/


#main-content{
	width:100%;
	height:500px;
	background:url(../img/header.jpg) no-repeat;
	background-size:cover;
	background-position:0 -200px;
	margin-top: 85px;
}

.konten {
	max-width: 1200px;
	margin: 0 auto;
}

#artikel{
    padding-top: 60px;
    color: #65350F;
    text-align: center; 
    font-size: 48;
    font-family: "Handlee";
}

h1{
    font-size: 70;
}

.pertama{
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
    font-family: "Roboto";
    font-size: 30;
    color: #65350F;
}


/*--- Start Footer ---*/
footer {
	background: #65350F ;
	width: 100%;
	overflow: auto;  
}

.icon-text {
	width: 100%;
	margin: 0 auto;
}

.icon-text-icon {
	float: left;
	width: 20%;
	padding: 4%;
}

.icon-text-text {
	width: 64%;
	float: left;
	padding: 4% 4% 2% 0;
}

.footer-nav {
	text-align: right;
}

.footer nav ul {
	list-style: none;
}

.footer-nav a {
	font-size: 160%;
	color: #ffffff;
	font-weight: 300;
}

.footer-nav a:hover {
	color: #A38860;
}

.social {
	list-style-type: none;
	text-align: center;
}

.social li {
	display: inline-block;
}

.social a {
	font-size: 300%;
	margin: 1%;
	padding-right: 130px;
	color: #c3d7df;
}

footer.second {
	border-top: 1px solid #E5BFA0;
	background-color: #4A2512;
	text-align: center;
	margin: 0;
}

footer.second p {
	padding: 5px 0 9px 0;
	text-align: center;
	color: #ffffff;
	font-size: 160%;
	line-height: 155%;
}
/*--- End Footer ---*/